header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:center;
    z-index:10;
    animation-name:dropHeader;animation-iteration-count:1;animation-timing-function:ease;animation-duration:0.75s
}

header ul {
    display:inline-block;
    background:#fff;
    text-align:center;
    padding:10px;
    margin:0;
    border-bottom-right-radius:4px;border-bottom-left-radius:4px
}

header li {
    display:inline-block
}

header a {
    display:block;
    /* color:#3498db; */
    color:#38b0ff;
    padding:10px;
    border-radius: 3px;
    margin-right:10px;
}

header a:hover {
    color:#217dbb;
    text-decoration:none;
    background:#eee;
    border-radius:4px
} 

header a:focus {
    color:#3498db;
    text-decoration:none
}

header.active {
    display:block
}

header.sticky {
    position:fixed;
    z-index:999
}

header li.name {
    color:#38b0ff;
    padding: 13px 0;
    font-size: 20px;
}

header span.firstName {
    font-weight: 800;
    color:#e8e8e8;
}

header span.lastName {
    font-weight: 500;
}

.headings {
    text-align: center;
    position:relative;
    display:inline-block;
    font-size:2em;
    font-weight:300;
    margin:0 0 30px;

}

.headings:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

#left-navbar {
    float: left;
}

#right-menu {
    float: right;
}

#namePlate {
    position:relative;
    height:100vh;
    min-height:500px;
    max-height:1080px;
    background:url(../images/lead-bg.jpg);
    background-size:cover;
    overflow:hidden;
    padding:15px;
    }
    
#namePlate-content {
    position:absolute;
    z-index:10;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    }
    
#namePlate-content h1,#namePlate-content h2 {
    margin:0;
    }

#namePlate-content h1 {
    color:#fff;
    /* color:#a0cfee; */
    /* color: #49b5ff; */
    text-shadow: 1px 1px 0px white;
    font-weight:900;
    font-size:5em;
    text-transform:uppercase;
    letter-spacing:.05em;
    line-height:.9em;
    }
    
#namePlate-content h2 {
    /* color:#a0cfee; */
    color: #38b0ff;
    font-weight:500;
    font-size:2.25em;
    margin-bottom:15px;
    }
    
#namePlate-overlay {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    /* background:rgba(33,125,187,0.8); */
    background-image: 
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    /* url("https://images.pexels.com/photos/160822/yoschi-fig-funny-colorful-160822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    z-index:1;
    }
    
#namePlate-scrollDown {
    position:absolute;
    left:0;
    right:0;
    width:100%;
    text-align:center;
    z-index:10;
    bottom:15px;
    color:#fff;
    }
    
#namePlate-scrollDown span {
    cursor:pointer;
    display:block;
    width:35px;
    height:35px;
    border-radius:50%;
    border:3px solid #a0cfee;
    text-align:center;
    margin:0 auto;
    }
    
#namePlate-scrollDown i {
    animation:pulsate 1.5s ease;
    animation-iteration-count:infinite;
    padding-top:5px;
    }

#about {
    background-color: #DEDECD;
}

.aboutPic {
    /* background-image:url("https://cdn.pixabay.com/photo/2018/05/02/10/33/computer-3368242_1280.jpg"); */
    width: 100%;
    background-position: center center;
    background-size:contain;
    vertical-align: middle;
    
}

.aboutPic img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    
    /* margin: 15px;
    padding: 20px; */
    
}

.aboutText {
    float: left;
    width: 36%;
    max-width: 500px;
    padding: 70px 7% 70px 7%;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
}

#tagline {
    width: 100%;
    height:265px;
    background-color:#DEDECD;
    padding: 77px 0px 107px 0px;
    border-top: 1px solid #F4F5EE;
}

#taglineWrapper {
    width: 94%;
    max-width: 900px;
    margin: 0px auto;
    font-size: 28px;
    color: #666666;
    text-align: center;
    font-weight: 300;
    line-height: 40px;
}











    #experience {
        text-align:center;
        border-bottom:1px solid #dcd9d9;
        padding:50px 15px;
        }

        #experience-timeline>div {
            background:#fff;
            margin-bottom:10px;
            border:1px solid #dcd9d9;
            padding:10px;
    }
        
        #experience-timeline {
        position:relative;
        max-width:1000px;
        margin:30px auto 0;
    }
        
        #experience-timeline:before {
        position:absolute;
        content:'';
        top:0;
        bottom:0;
        left:314px;
        right:auto;
        height:100%;
        width:3px;
        background:#3498db;
        z-index:1;
        }
        
        #experience-timeline:after {
        position:absolute;
        content:'';
        width:3px;
        height:40px;
        background:linear-gradient(tobottom,#3498db,rgba(52,152,219,0));
        top:100%;
        left:314px;
        }

        #about {
            margin-top: 25px;
        }

        #aboutSection {
            text-align: center;
            width: 500px;
            vertical-align: middle;
        }

        #education {
            
            padding: 0 70px;
            overflow: hidden;
        }

        .degree {
            font-size: 1.0rem;
        }

        .aboutDegree {
            font-size: 1.0rem;
        }


        .foo {
            font-weight: 600;
    }

    .vtimeline-content {
        margin-left:350px;
        background:#fff;
        border:1px solid #e6e6e6;
        border-radius:3px;
        text-align:left;
        padding:15px;
        }
        
        .vtimeline-point {
        position:relative;
        display:block;
        vertical-align:top;
        margin-bottom:30px;
        }
        
        .vtimeline-icon {
        position:relative;
        color:#fff;
        width:50px;
        height:50px;
        background:#3498db;
        border-radius:50%;
        float:left;
        z-index:99;
        margin-left:280px;
        }
        
        .vtimeline-icon i {
        display:block;
        font-size:2em;
        margin-top:10px;
        }
        
        .vtimeline-date {
        width:260px;
        text-align:right;
        position:absolute;
        left:0;
        top:10px;
        font-weight:300;
        color:#374054;
        }

        #skills {
            text-align:center;
            border-bottom:1px solid #dcd9d9;
            padding:50px 15px;
            }

        #skills-block div {
                display: inline-block;
                padding: 3px 20px;
            }
        
        .skills-img {
            width: 100px;
            height: auto;
            padding: 5px;
            vertical-align: middle;
        }

        .skills-img:hover {
            transform: scale(1.1);
            transition-duration: 0.1s;

        }

        #portfolio {
            text-align:center;
            border-bottom:1px solid #dcd9d9;
            padding:50px 15px;
            }

        .project {
            border-radius: 30px;
            padding: 15px;
           
        }

        .description {
            height: 325px;
        }

        .descrBlock {
            text-align: center;
            font-size: 15px;
            line-height: 25px;
            margin-top: -45px;
        }

        .chessPiece {
            background-color: white;
            width: 112px;
            height: 96px;
            text-align: center;
            padding-top: 16px;
            margin: 0px auto;
            border-radius: 56px;
        }

        .chessPiece img {
            width: 73.2%;
            max-width: 82px;
        }

        .descrTitle {
            margin-top: 10px;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .descrSummary {
            margin-top:30px;
        }

        .divide {
            margin: 30px auto 30px auto;
            width: 50px;
            border-bottom: 1px solid #3498db;
        }


    /* Hover Effect on Portfolio Cards */
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        /* background: #42b078; */
        background:white;
        margin-bottom:10px;
      }
      
      .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        padding: 50px 20px;
      }
      
      .hovereffect img {
        display: block;
        position: relative;
        max-width: none;
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .hovereffect:hover img {
        opacity: 0.4;
        filter: alpha(opacity=40);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      
      .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        overflow: hidden;
        padding: 0.5em 0;
        background-color: transparent;
      }
      
      .hovereffect h2:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
      }
      
      .hovereffect:hover h2:after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      
      .hovereffect a, .hovereffect p {
        color: #FFF;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
      }
      
      .hovereffect:hover a, .hovereffect:hover p {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }

      #contact > div {
          display: inline-block;
          width: 400px;
          height: auto;
          padding: 25px 0;
          overflow-y: hidden;
          text-align: center;
          vertical-align: middle;
      }

      .contact-icons {
          text-decoration: none;
          padding: 20px;
          transition: all 0.3s ease;
          color: #3498db;
      }

      .contact-icons:hover {
          color: #fff;
      }

      footer {
          height: 100%;
          text-align: center;
          background-color: #2f3241;
          padding: 50px;
      }

      